Alcocial/Alcocial/Service References/ServiceReference1/Service151.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alcocial.cloudapp.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfProjAppTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjAppTable" nillable="true" type="tns:ProjAppTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjAppTable" nillable="true" type="tns:ArrayOfProjAppTable" />
  <xs:complexType name="ProjAppTable">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tag1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tag2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tag3" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjAppTable" nillable="true" type="tns:ProjAppTable" />
</xs:schema>